.logo {
  position: relative;
  text-align: center;

  font-family: "Oswald-SemiBold", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
  margin: 10px 30px 10px 10px;

  &::before {
    position: absolute;
    left: -0.6em;
    content: "+";
    font-size: inherit;
    color: inherit;
  }

  &::after {
    position: absolute;
    content: "+";
    left: 1.5em;
    font-size: inherit;
    color: inherit;
  }

  @media (max-width: $screen-xs) {
    font-size: 2.5rem;
  }

/*   @media (max-width: $screen-xxs) {
    display: none;
  } */
}
