@font-face{
  font-family: "Oswald-Light", sans-serif;
  src: url("../base/fonts/Oswald-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Oswald-Regular", sans-serif;
  src: url("./../../fonts/Oswald-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Oswald-Medium", sans-serif;
  src: url("./../../fonts/Oswald-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Oswald-SemiBold", sans-serif;
  src: url("./../../fonts/Oswald-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-size: 32px;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "Oswald-Bold", sans-serif;
  src: url("./../../fonts/Oswald-Bold.ttf") format("ttf");
  font-weight: 700;
  
  font-size: 32px;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "OswaldBold", sans-serif;
  src: url("./../../fonts/Oswaldbold.ttf") format("ttf");
  font-weight: 700;
  
  font-size: 32px;
  font-style: normal;
  font-display: swap;
}











@font-face{
  font-family: "SFProDisplay-Regular";
  src: url("./../../fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "SFProDisplay-Medium";
  src: url("./../../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: "SFProDisplay-Semibold";
  src: url("./../../fonts/SFProDisplay-Semibold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Barlow-Bold";
  src: url("./../../fonts/Barlow-Bold.ttf");
  src: url("Barlow-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
